<%= form_for([@article, @article.comments.build]) do |f| %>
  <div class="comment__form comment__commenter">
    <%= f.label :commenter %><br>
    <%= f.text_field :commenter %>
  </div>
  <div class="comment__form comment__body">
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </div>
  <div class="comment__form comment__submit">
    <%= f.submit %>
  </div>
<% end %>