<article class="article">
    <h1 class="article article__title">
        <%= @article.title %>
    </h1>
    
    <div class="article article__main">
        <%= @article.text %>
    </div>

    <div class="article article__comments">
        <h3 class="article article__comments-head">Comments</h3>
        <% if @article.comments.any? %> 
            <%= render 'comments/comment' %>
        <% end %>
    </div>
</article>

<div class="comment">
    <h4 class="comment comment__hint">Add a comment:</h4>
    <div class="comment comment__form">
        <%= render 'comments/form' %>
    </div>
</div>

<div class="links">
    <%= link_to 'Edit', edit_article_path(@article) %> |
    <%= link_to 'Back', articles_path %>
</div>
