<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <title>WebCat</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="page__wrap">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
        <div class="page__frame">
            <div class="site__head">
                <h1>Web Cat</h1>
                <div class="site__head-link">
                    <% if current_user %>
                    <span><%= link_to 'New article', new_article_path %></span>
                    <% end %>
                    <span><%= link_to 'Home Page', welcome_index_path %></span>
                </div>
            </div>
            <div class="page__content">
                <%= yield %>
            </div>
        </div>
    </div>
  </body>
</html>
